[run]
source = machine
omit =
    # don't care about bundled plugins, they will not be tested
    machine/plugins/builtin/*
    # we won't test the run script
    machine/bin/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't care about returning functions from decorator wrappers
    return f\(\*args, \*\*kwargs\)
