[tool.poetry]
name = "slack-machine"
version = "0.28.0"
description = "A wonderful, simple, yet powerful and extendable Slack bot framework"
authors = ["Daan Debie <daan@dv.email>"]
license = "MIT"
repository = "https://github.com/DandyDev/slack-machine"
homepage = "https://github.com/DandyDev/slack-machine"
documentation = "https://dandydev.github.io/slack-machine/"
readme = "README.md"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3 :: Only",
    "Topic :: Communications :: Chat",
    "Topic :: Internet",
    "Topic :: Office/Business"
]
packages = [
    { include = "machine" },
]
include = ["extra/logo.png", "run_dev.py", "run_dev.py", "README.md", "LICENSE", "AUTHORS"]

[tool.poetry.dependencies]
python = "^3.7"
"backports.zoneinfo" = { version = "^0.2.1", python = "<3.9" }
dill = "^0.3.5.1"
APScheduler = "^3.9.1"
blinker-alt = "^1.5"
clint = "^0.5.1"
dacite = "^1.6.0"
requests = "^2.28.1"
redis = {version = ">=4.3.4,<5.0.0", optional = true}
hiredis = {version = "^2.0.0", optional = true}
slack-sdk = "^3.18.1"
aiohttp = "^3.8.1"
pyee = "^9.0.4"
httpx = "^0.23.0"
aioboto3 = {version = "^10.0.0", optional = true}
tzdata = "^2022.2"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
pytest-mock = "^3.8.2"
tox = "^3.25.1"
tox-gh-actions = "^2.9.1"
coverage = "^6.4.4"
redis = ">=4.3.4,<5.0.0"
pre-commit = "^2.20.0"
pytest-cov = "^3.0.0"
isort = "^5.10.1"
black = "^22.6.0"
typing-extensions = "^4.3.0"
pytest-asyncio = "^0.19.0"
mock = "^4.0.3"
mypy = "^0.971"
types-redis = "^4.3.17"
types-requests = "^2.28.9"
mkdocstrings = {extras = ["python"], version = "^0.19.0"}
mkdocs-material = "^8.4.1"
flake8 = "<4.0.1"
aioboto3 = "^10.0.0"
types-aiobotocore = {extras = ["essential"], version = "^2.4.0"}

[tool.poetry.extras]
redis = ["redis", "hiredis"]
dynamodb = ["aioboto3"]

[tool.poetry.scripts]
slack-machine = 'machine.bin.run:main'
slack-machine-async = 'machine.bin.run_async:main'

[tool.isort]
profile = "black"
line_length = 120
known_first_party = ["machine", "tests"]

[tool.black]
line-length = 120
preview = true

[tool.pytest.ini_options]
mock_use_standalone_module = true
addopts = "--verbose --cov-report term-missing --cov-report xml --junit-xml pytest.xml --cov=machine"
filterwarnings = [
    "ignore:invalid escape sequence::bottle",
    "ignore:Using or importing the ABCs::bottle"
]

[tool.mypy]
python_version = "3.10"
ignore_missing_imports = true
show_column_numbers = true
show_error_codes = true
disallow_untyped_defs = true
disallow_incomplete_defs = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
