-r requirements.txt
check-manifest==0.39
pyroma==2.5
pytest-mock==1.10.4
pytest==4.6.2
tox==3.11.1
flake8==3.7.7
twine==1.13.0
coverage==4.5.3
pytest-cov==2.7.1
Sphinx==2.1.2
sphinx-autobuild==0.7.1
redis==3.2.1
Cython==0.29.10
happybase==1.2.0