-r requirements.txt
check-manifest==0.38
pyroma==2.4
pytest-mock==1.10.4
pytest==4.5.0
tox==3.9.0
flake8==3.7.7
twine==1.13.0
coverage==4.5.3
pytest-cov==2.7.1
Sphinx==2.0.1
sphinx-autobuild==0.7.1
redis==3.2.1
Cython==0.29.7
happybase==1.2.0